@import "./../../../assets/scss/shared";

:host {
  .step-preloader {
    display: block;
    padding: $indent40 73px $indent60 73px;
    background-color: $colorWhite;
    border-radius: $borderRadius11;

    @include mobile() {
      padding: $indent40 $indent16 $indent60 $indent16;
      border-radius: 0;
    }
  }

  .loader {
    display: block;
    width: 52px;
    height: 52px;
    margin: 20px auto;
    background-image: url('./img/loader.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .name {
    @extend .text-2;
    color: $colorPrimary;
    line-height: 1em;
    text-align: right;
    margin-bottom: 5px;
  }

  .value {
    @extend .text-2;
    text-align: right;
    line-height: 1em;
    margin-top: 0;
  }
}
