@import "../../../../assets/scss/shared";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
  height: 60px;
  background: $colorGrayLight;
  border: 1px solid $colorGrayLight;
  border-radius: $borderRadius12;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 400;
  color: $colorGrayDark;
  cursor: pointer;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  overflow: hidden;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  @include desktop {
    &:hover {
      background: $colorGrayExtraLight;
    }
  }

  &:disabled,
  &.disabled {
    cursor: not-allowed;
    color: $colorGrayMedium;
  }

  &.display-inline {
    display: inline-flex;
    width: auto;
    padding-left: $indent48;
    padding-right: $indent48;

    @include mobile {
      padding-left: $indent32;
      padding-right: $indent32;
    }
  }

  &.theme-primary {
    background: $colorPrimary;
    border-color: $colorPrimary;
    color: $colorWhite;

    @include desktop {
      &:hover {
        background: $colorPrimaryHover;
        border-color: $colorPrimaryHover;
      }
    }

    &:disabled,
    &.disabled {
      color: $colorWhite;
      background: $colorPrimaryDisabled;
      border-color: $colorPrimaryDisabled;
    }
  }

  &.theme-get-money {
    color: $colorWhite;
    background: $colorSecondary;
    border-color: $colorSecondary;

    @include desktop {
      &:hover {
        background: $colorSecondaryHover;
        border-color: $colorSecondaryHover;
      }
    }

    &:disabled,
    &.disabled {
      color: $colorGrayDark;
      background: $colorSecondaryDisabled;
      border-color: $colorSecondaryDisabled;
    }
  }

  &.theme-return {
    height: 77px;
    background: $colorWhite;
    border: none;
    border-top: 1px solid $colorGrayLight;
    border-radius: 0;
    font-size: 20px;
    line-height: 1.2em;
    color: $colorPrimary;
    text-decoration: underline;

    @include desktop {
      &:hover {
        background: $colorWhite;
        color: $colorPrimaryHover;
      }
    }

    &:disabled,
    &.disabled {
      background: $colorWhite;
      color: $colorGray;
      opacity: .4;
    }
  }
}
