@import "variables";
@import "mediaqueries";

.headline-1 {
  font-size: 26px;
  font-weight: 800;
  line-height: 1.25em;
  color: $colorGrayDark;

  @include mobile {
    font-size: 24px;
    font-weight: 700;
  }
}

.headline-2 {
  font-size: 22px;
  font-weight: 800;
  line-height: 1.25em;
  color: $colorGrayDark;

  @include mobile {
    font-size: 18px;
    font-weight: 700;
  }
}

.headline-3 {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.25em;
  color: $colorGrayDark;

  @include mobile {
    font-weight: 700;
  }
}

.text-1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8em;
  color: $colorGray;
}

.text-2 {
  @extend .text-1;
  font-size: 16px;
}

.text-3 {
  @extend .text-1;
  font-size: 14px;
}

.text-4 {
  @extend .text-1;
  font-size: 12px;
}
