@import "variables";
@import "mediaqueries";
@import "extends";

h1, .h1 {
  @extend .headline-1;
  margin: $indent20 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h2, .h2 {
  @extend .headline-2;
  margin: $indent20 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h3, .h3 {
  @extend .headline-3;
  margin: $indent20 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

p {
  @extend .text-2;
  margin: $indent16 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

a, .link {
  color: $colorPrimary;
  text-decoration: underline;
  cursor: pointer;

  @include desktop {
    &:hover {
      text-decoration: none;
      color: $colorPrimaryHover;
    }
  }
}

b, strong {
  font-weight: 700;
}

ul, ul.ul {
  display: block;
  margin: $indent20 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.36em;
  color: $colorGrayDark;
  list-style: none;


  li {
    position: relative;
    margin: $indent20 0;
    padding: 0 0 0 $indent40;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 10px;
      width: 20px;
      height: 2px;
      background: $colorPrimary;
    }
  }

  &.medium-text {
    font-size: 14px;
  }

  &.small-text {
    font-size: 12px;
  }
}

ol {
  display: block;
  margin: 20px 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.36em;
  color: $colorGrayDark;
  list-style: none;
  counter-reset: myCounter;

  &.medium-text {
    font-size: 14px;
  }

  &.small-text {
    font-size: 12px;
  }

  li {
    position: relative;
    margin: $indent20 0;
    padding: 0 0 0 $indent40;

    &:before {
      display: block;
      position: absolute;
      left: 0;
      counter-increment: myCounter;
      content: counter(myCounter) ".";
      top: 0;
      background: none;
      width: auto;
      color: $colorPrimary;
    }

  }
}

.line {
  display: block;
  margin: 0;
  height: 1px;
  background: $colorGrayLight;
}

.highlight {
  color: $colorPrimary;
}

