$fontBase: 'Proxima Nova', sans-serif;

$colorPrimary: #00ADEE;
$colorPrimaryHover: #0094FF;
$colorPrimaryDisabled: #99DEF8;

$colorSubmit: #ffcd2b;
$colorSubmitHover: #FFD54F;
$colorSubmitDisabled: #ffe695;

$colorSecondary: #4CCE79;
$colorSecondaryHover: #4CCE79;
$colorSecondaryDisabled: #b7ebc9;

$colorDangerous: #E41D41;
$colorDangerousBg: #FFF1F2;

$colorLightBlue: #D3F1FC;

$colorGrayDark: #1D1D1E;
$colorGray: #86868A;
$colorGrayMedium: #C2C2C2;
$colorGrayLight: #D2D2D6;
$colorGrayExtraLight: #FAFAFC;
$colorGray2: #DEDEE5;
$colorWhite: #ffffff;

$colorBg: #F2F4FA;

$indent4: 4px;
$indent8: 8px;
$indent12: 12px;
$indent14: 14px;
$indent16: 16px;
$indent20: 20px;
$indent25: 25px;
$indent30: 30px;
$indent32: 32px;
$indent40: 40px;
$indent48: 48px;
$indent60: 60px;
$indent80: 80px;

$borderRadius4: 4px;
$borderRadius8: 8px;
$borderRadius12: 12px;
$borderRadius16: 16px;

$boxShadow: 0px 6px 16px rgba(33, 38, 44, 0.1);
$boxShadowLight: 0 5px 10px rgba(0, 0, 0, 0.05);
