@import "../../../assets/scss/shared";

.toast {
  display: block;
  position: fixed;
  z-index: 1000;
  top: 90px;
  right: 35px;
  margin: 0;
  padding: $indent12 $indent16 $indent12 82px;
  width: 340px;
  min-height: 80px;
  background: $colorGreen;
  border-radius: $borderRadius8;
  box-shadow: $boxShadow;

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: $indent16;
    top: 50%;
    margin: -25px 0 0 0;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, .15) url("img/icon.svg") center no-repeat;
    background-size: 25px;
    border-radius: 50%;
  }
}

p {
  margin: 0;
  @extend .text-3;
  color: $colorWhite;

  &.caption {
    @extend .text-2;
    color: $colorWhite;
    font-weight: bold;
  }
}
