@import "../../../assets/scss/shared";

:host {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 -85px;
  padding: $indent16 85px;
  background: $colorGrayExtraLight;
  border-top: 1px solid $colorBg;
  border-bottom: 1px solid $colorBg;
  @extend .text-2;
  color: $colorGrayDark;

  @include mobile {
    margin-left: -$indent16;
    margin-right: -$indent16;
    padding-left: $indent16;
    padding-right: $indent16;
  }

  @include only-mobile {
    margin-left: 0;
    margin-right: 0;
    padding-left: $indent16;
    padding-right: $indent16;
    font-size: 14px;
    border: none;
    border-radius: $borderRadius8;
  }
}

.icon {
  margin-right: $indent16;
  font-size: 30px;
  color: $colorGray;
}
