@import "../../../assets/scss/shared";

.edit-phone {
  display: block;
  position: relative;
  z-index: 20;
  cursor: pointer;

  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 20;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
  }

  .icon {
    display: block;
    position: absolute;
    z-index: 20;
    top: 50%;
    right: 20px;
    margin: -10px 0 0 0;
    font-size: 20px;
    color: $colorGray;
  }
}
