@import "../../../assets/scss/shared";

:host {
  display: block;
  position: relative;
  z-index: 5;
  margin: 0 0 $indent20 !important;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  ::ng-deep {
    .ng-select {
      display: block;
      position: relative;
      z-index: 3;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 60px;
      background: none;
      border: none;
      font-family: 'Proxima Nova', sans-serif;;
      font-size: 18px;
      line-height: 1em;
      font-weight: 400;
      color: $colorGrayDark;
      border-radius: $borderRadius11;
      outline: none;
      box-sizing: border-box;

      .ng-select-container {
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: $borderRadius11;
        border: 1px solid $colorGrayMedium;
        overflow: hidden;
      }

      .ng-input {
        display: none;
      }

      .ng-value-container {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        .ng-placeholder {
          display: block;
          position: absolute;
          z-index: 1;
          left: $indent16;
          right: $indent40;
          top: 10px;
          font-size: 12px;
          line-height: 1em;
          font-weight: 400;
          color: $colorGray;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          transition: all .1s ease;
        }

        .ng-value {
          padding: 20px $indent40 0 $indent16;
          font-size: 20px;
          line-height: 1.8em;
          color: $colorGrayDark;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .ng-arrow-wrapper {
          display: block;
          position: absolute;
          right: 0;
          top: 0;
        }
      }

      &.empty {
        .ng-select-container {
          background: $colorBg;
          border-color: $colorBg;
        }

        .ng-value-container {
          .ng-placeholder {
            top: 11px;
            font-size: 20px;
            line-height: 1.8em;
            color: $colorGrayDark;
          }
        }
      }

      &.ng-select-opened {
        .ng-select-container {
          background: $colorWhite;
          border-color: $colorWhite;
          box-shadow: 0 0 0 4px rgba(0, 173, 238, 0.5);
        }
      }

      &.required {
        .ng-placeholder {
          &:after {
            content: " *";
            color: $colorDangerous;
          }
        }
      }

      &.ng-select-opened + .icon {
        transform: rotate(180deg);
      }
    }
  }

  .error-message {
    display: none;
    margin: $indent4 0 0 0;
    font-size: 12px;
    line-height: 1.2em;
    font-weight: 400;
    color: $colorDangerous;
  }

  .icon {
    display: block;
    position: absolute;
    z-index: 5;
    right: $indent16;
    top: 20px;
    margin: 0;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: $colorGrayMedium;

  }

  &.ng-touched.ng-invalid {
    ::ng-deep {
      .ng-select:not(.ng-select-opened) {
        .ng-select-container {
          border-color: $colorDangerous;
        }
      }
    }

    .error-message {
      display: block;
    }
  }

  &.ng-touched.ng-valid {
    ::ng-deep {
      .ng-select:not(.ng-select-opened) {
        .ng-select-container {
          border-color: $colorSecondary;
        }
      }
    }

    .error-message {
      display: block;
    }
  }

  @include desktop() {
    &:hover {
      ::ng-deep {
        .ng-select:not(.ng-select-opened) {
          .ng-select-container {
            border-color: $colorGrayMedium;
          }
        }
      }
    }
  }
}


::ng-deep {
  .ng-dropdown-panel {
    margin: 4px 0 0 0;
    background: $colorGrayLight;
    border-radius: $borderRadius4;
    box-shadow: $boxShadow;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;

    .ng-option {
      display: block;
      margin: 0;
      padding: $indent8 $indent16;
      background: $colorWhite;
      @extend .text-2;
      color: $colorGrayDark;

      &:last-child {
        margin-bottom: 0;
      }

      &-selected {
        background: $colorWhite;
        color: $colorPrimary;
      }

      @include desktop {
        &:hover {
          background: $colorGrayExtraLight;
        }
      }
    }
  }
}
