@import "../../../assets/scss/shared";

p {
  margin-top: $indent8;
  margin-bottom: 0;
  text-align: center;

  &.caption {
    margin-top: $indent16;
    @extend .headline-1;
    font-size: 26px;

    @include mobile {
      margin-bottom: 0;
      font-size: 18px;
    }
  }
}

.button {
  display: block;
  margin-top: $indent20;
  text-align: center;
}
