@import "../../../assets/scss/shared";

:host {
  display: block;
  position: relative;
  z-index: 5;
  margin: 0 0 $indent20 0;

  .field {
    display: block;
    position: relative;
    z-index: 3;
    width: 100%;
    background: $colorWhite;
    border-radius: $borderRadius11;
    border: 1px solid $colorGrayMedium;

    &.empty {
      background: $colorBg;
      border-color: $colorBg;


      .label {
        top: 20px;
        font-size: 20px;
        line-height: 1em;
        color: $colorGrayDark;
      }

      input {
        color: #ffffff;
        -webkit-box-shadow: inset 0 0 0 50px transparent;
      }
    }

    &.masked-phone {
      &:before {
        content: "+7";
        display: block;
        position: absolute;
        z-index: 3;
        left: $indent16;
        top: 30px;
        font-size: 20px;
        line-height: 1em;
        font-weight: 400;
        color: $colorGrayDark;
      }

      &.empty:before {
        display: none;
      }

      input {
        padding-left: 45px;
      }
    }

    &.focused {
      border-color: $colorPrimary !important;
      box-shadow: 0 0 0 3.5px rgba(0, 173, 238, 0.5);
    }

    &.readonly {
      border-color: $colorSecondary !important;
      background-color: $colorWhite !important;
      box-shadow: none !important;
    }

    &.disabled {
      .label {
        opacity: .3;
      }
    }

    &.required {
      .label {
        &:after {
          content: " *";
          color: $colorDangerous;
        }
      }
    }

    &.for-slider {
      border-color: $colorBg !important;
      background-color: $colorBg !important;
      border-radius: $borderRadius4 $borderRadius4 0 0;
      box-shadow: none !important;

      .label {
        top: 12px;
        font-size: 14px;
      }

      &.focused {
        background-color: $colorWhite !important;
        border-color: $colorGrayLight !important;
      }

      input {
        height: 78px;
        font-size: 26px;
        -webkit-box-shadow: inset 0 0 0 50px transparent;
      }
    }
  }

  .label {
    display: block;
    position: absolute;
    z-index: 3;
    left: $indent16;
    right: $indent16;
    top: 6px;
    font-size: 12px;
    line-height: 19px;
    font-weight: 400;
    color: $colorGray;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all .1s ease;
  }

  input {
    display: block;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: $indent20 $indent14 0 $indent14;
    width: 100%;
    height: 60px;
    background: none;
    border: none;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 20px;
    line-height: 1em;
    font-weight: 400;
    text-align: left !important;
    color: $colorGrayDark;
    border-radius: $borderRadius11;
    outline: none;
    box-sizing: border-box;
    transition: background, border-color .2s ease;

    -webkit-box-shadow: inset 0 0 0 50px $colorWhite;
    -webkit-text-fill-color: $colorGrayDark;
    -webkit-appearance: none;

    &:-webkit-autofill {
      -webkit-animation-name: autofill;
      -webkit-animation-fill-mode: both;
      background: transparent;
    }
  }

  .error-message {
    display: none;
    margin: $indent4 0 0 0;
    font-size: 12px;
    line-height: 1.2em;
    font-weight: 400;
    color: $colorDangerous;
  }

  @include desktop() {
    &:hover {
      .field {
        border-color: $colorGrayMedium;
      }
    }
  }

  &.ng-invalid.ng-touched {
    .field:not(.focused) {
      background: $colorDangerousBg;
      border-color: $colorDangerous;

      input {
        -webkit-box-shadow: inset 0 0 0 50px $colorDangerousBg;
      }
    }

    .error-message {
      display: block;
    }
  }

  &.ng-valid.ng-touched {
    .field {
      border-color: $colorSecondary;
    }
  }
}

@-webkit-keyframes autofill {
  to {
    background: #ffffff;
  }
}
