@import "../../../../../assets/scss/shared";

.preloader {
  display: block;
  position: absolute;
  z-index: 2147483647;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $colorWhite url('img/loader.svg') center center no-repeat;
  background-size: 40px 40px;
  border-radius: $borderRadius8;

  &.fullscreen {
    position: fixed;
    z-index: 2147483647;
    background-color: $colorGrayLight;
  }

  &.for-input {
    background-color: transparent;
    right: 14px;
    top: 50%;
    left: auto;
    bottom: auto;
    width: 26px;
    height: 26px;
    background-size: cover;
    transform: translateY(-50%);
  }
}
