@import "../../../../assets/scss/shared";

:host {
  display: block;
  position: relative;
  padding-bottom: 1px;
}

.info {
  display: block;
  margin: $indent20 0;

  .item {
    display: flex;
    flex: 1 0 100%;
    justify-content: space-between;
    margin-top: $indent8;

    .label {
      @extend .text-1;

      @include mobile() {
        font-size: 14px;
      }
    }

    .value {
      display: flex;
      @extend .text-1;
      text-align: right;
      color: $colorGrayDark;
      font-weight: bold;

      .old {
        margin-right: 14px;
        color: $colorGray;
        text-decoration: line-through;
      }

      .new {
        padding: 0 9px;
        background: $colorDangerous;
        color: $colorWhite;
        border-radius: $borderRadius4;
      }

      @include mobile() {
        font-size: 14px;
      }
    }
  }
}


.field {
  display: block;
  position: relative;
  z-index: 10;
  margin: 0 0 $indent30 0;
}

.slider-wrapper {
  display: block;
  position: relative;
  z-index: 10;
  margin: -35px 1px 0 1px;
}

.slider-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend .text-3;
  color: $colorGray;
}

.discount-percent {
  display: block;
  position: absolute;
  z-index: 10;
  top: 28px;
  right: $indent16;
  background: $colorDangerous;
  margin: 0;
  padding: 0 6px;
  font-size: 24px;
  line-height: 28px;
  color: $colorWhite;
  border-radius: $borderRadius4;
}
